.row{
	
	display: flex;
	justify-content: space-between;
	
	
	}
.listeder{
	display: flex;
	justify-content: space-between;
}

.navbottom{
	 display:flex;
	 justify-content: space-between;
}

.horizontal-menu{
	
	 display: inline;
}