.row{
	
	display: flex;
	justify-content: space-between;
	
	
	}
.listeder{
	display: flex;
	justify-content: space-between;
}

.navbottom{
	 display:flex;
	 justify-content: space-between;
}

.horizontal-menu{
	
	 display: inline;
}
.menu li a:hover{
	text-decoration: underline;
}
.top-bar {
	background-color: white;
}
.top-bar-right .menu {
	background-color: white;
}
h1 {
	color: red;
	font-style: bold; 
	font-size: 60px;
}
.accueil {
	width: 50%;
	font-size: 40px;
}